<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<div>
  <h1>Auth0 Authentication with Angular</h1>
  @if (!(auth.isAuthenticated$ | async)) {
    <app-login-button></app-login-button>
  } @else {
    <h2>Ur locked in vro</h2>
    <app-user-profile></app-user-profile>
    <app-logout-button></app-logout-button>
    
  }
</div>


<router-outlet />
